// main: ../css/master.less
.main{
   &__header{
      background-color: rgba(83, 83, 83, 0.6);
      position:fixed;
      top: 0px;
      z-index: 2;
      left: 0;
      opacity: 0;
      width: 100%;
      -webkit-transition: all 0.8s;
         -moz-transition: all 0.8s;
         transition: all 0.8s;
      &-logo{
         @media(max-width: 1169px){
         width: 25%;
      }
      }
   }
   &__header-wrap{
      padding: 2rem 0 2rem 0;
      display: flex;
      align-items: center;
      justify-content: space-between;
      -webkit-transition-duration: 0.4s;
      transition-duration: 0.4s;
      @media(max-width: 1169px){
      padding: 1rem 0 1rem 0;
      }
   }
   &__header-logo{
      -webkit-transition-duration: 0.4s;
      transition-duration: 0.4s;
   }
   &__nav-link{
      font-family: 'Montserrat', sans-serif;
      text-transform: uppercase;
      text-decoration: none;
      color: #dddddd;
      font-weight: bold;
      font-size: 13px;
      margin-right: 3rem;
      &:nth-child(1) {
         color: #18CFAB;
         margin-right: 2rem;
      }
      
   }
}
// for header thin

.header-thin {
   background-color: #535353;
   .main__header-wrap{
      padding: 0px 0px;
   }
   .main__header-logo{
      scale: 0.7;
   }
}